@media screen and (max-width: 600px) {

    /* navbar styles  */
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-title {
        width: 100%;
    }

    .nav-option {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    /* banner section styles  */

    .container {
        width: 90%;
        min-height: 500px;
    }

    .banner {
        margin-bottom: 24px;
    }
    .banner-content {
        padding: 32px 24px;
    }

    .banner-content h2 {
        font-size: 22px;
    }
    .banner-content{
        font-size: 14px;
    }

    .banner-selection {
        flex-direction: column;
        gap: 16px;
    }

    .where-go,
    .select-box,
    .btn-banner {
        width: 100%;
    }

    /* popular section start  */
    .popular{
        margin-bottom: 24px;
    }
    .popular-container {
        flex-direction: column;
        gap: 24px;
    }
    .popular-content {
        width: 100%;
    }
    .popular-img {
        width: 100%;
    }
    .popular-content h2{
        font-size: 20px;
    }
    .popular-content p, li{
        font-size: 14px;
    }

    /* destination section  */
    .destination{
        margin-bottom: 24px;
    }
    
    .destination-content {
        width: 100%;
        margin: 0 auto;
    }
    
    .destination-content h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    
    .destination-content p {
        font-size: 14px;
        text-align: center;
    }
    .destination-grid-container {
        margin-top: 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 16px;
    }
    .item1 {
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
    }
    .item2 {
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }
    .item3 {
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
    }
    .item4 {
        grid-column: 1/ span 1;
        grid-row: 4/ span 1;
    }
    .item5 {
        grid-column: 1/ span 1;
        grid-row: 5/ span 1;
    }
    .item6 {
        grid-column: 1/ span 1;
        grid-row: 6/ span 1;
    }
    .item7 {
        grid-column: 1/ span 1;
        grid-row: 7/ span 1;
    }
    
    .item1 p{
        position: absolute;
        top: 42%;
        left: 35%;
    }
    .item2 p{
        position: absolute;
        top: 42%;
        left: 33%;
    }
    .item3 p{
        position: absolute;
        top: 42%;
        left: 35%;
    }
    .item4 p{
        position: absolute;
        top: 42%;
        left: 25%;
    }
    .item5 p{
        position: absolute;
        top: 42%;
        left: 35%;
    }
    .item6 p{
        position: absolute;
        top: 42%;
        left: 30%;
    }
    .item7 p{
        position: absolute;
        top: 42%;
        left: 30%;
    }

/* Choose-us section  */
.choose-us{
    margin-bottom: 24px;
}
.choose-us-content {
    margin-bottom: 24px;
    width: 100%;
    margin: 0 auto;
}

.choose-us-content h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

.choose-us-content p {
    font-size: 14px;
    text-align: center;
}
.choose-option {
    margin-top: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.box-1 {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}
.box-2 {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}
.box-3 {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}

/* deals section  */

.discount-card {
    width: 70%;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    left: 12%;
    top: 15%;
}
.card-icon-container {
   flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 14px;
}
.card-content h2 {
    font-size: 20px;
}

.card-content p {
    font-size: 14px;
}





/* view section  */
.view{
    margin-bottom: 24px;
}
.view-container{
    flex-direction: column;
    gap: 16px;
}
.view-content{
    width: 100%;
}
.view-content h2 {
    font-size: 20px;
    text-align: left;
    line-height: normal;
    margin-bottom: 20px;
}
.view-content p{
    margin-bottom: 14px;
}
.view-video-container{
    width: 100%;
}
/* newslater section  */
.newslater{
    margin-bottom: 24px;
}
.newslater-container {
    flex-direction: column;
    gap: 16px;
}
.form-container {
    width: 95%;
    padding: 10px;
}

.form-container form input{
    width: 100%;
}
.form-container form button {
    width: 100%;
}
.form-container hr {
    background: rgba(19, 19, 24, 0.10);
    width: 98%;
    margin: 24px auto;
}

.form-container h2
 {
    font-size: 20px;
}
.form-container p
 {
    font-size: 14px;
}

.newslater-image {
    width: 100%;
}
.newslater-image img {
    width: 100%;
    object-fit: cover;
}

.newslater-image .saves {
    width: 50%;
    min-height: 50px;
    bottom: 15%;
    right: 1%;

}
.saves p {
    font-size: 14px;
}

.saves h4 {
    font-size: 20px;
}

/* footer section  */
.footer-container{
    padding: 10px 20px;
}
.footer-title h2 {
    font-size: 20px;
}